In [134]:
import pandas as pd
import matplotlib.pyplot as plot
import requests as req
from census import Census
from us import states
import os

# Census API Key
c = Census("5e99f22848e97d5bcc53f03a358b973493473cd9")
cKey = "5e99f22848e97d5bcc53f03a358b973493473cd9"

In [135]:
# Read Main CSV
msgPpl = pd.read_csv("NCMEC_final.csv")
msgPpl.head()

,name,age,gender,ethnicity,NCMEC_case#,case_type,birth_year,missing_year,missing_city,missing_county,missing_state
0,DAVID BORER,36.0,male,white,722859,abduct,1981.0,1989.0,WILLOW,Matanuska Susitna,Alaska
1,JANE DOE1980,NaN,female,white,1184520,NaN,NaN,NaN,NaN,NaN,Alaska
2,MEGAN EMERICK,61.0,female,white,1080580,missing,1956.0,1973.0,SEWARD,Kenai Peninsula,Alaska
3,STELLA EVON,38.0,female,native american,919705,missing,1979.0,1996.0,BETHEL,Bethel,Alaska
4,AMY FANDEL,47.0,female,white,601234,abduct,1970.0,1978.0,STERLING,Kenai Peninsula,Alaska

In [136]:
# census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
#                           "B19301_001E",
#                           "B17001_002E"), {'for': 'zip code tabulation area:*'})

In [137]:
#Create census for states
url = "https://api.census.gov/data/2014/pep/natstprc?get=STNAME,POP&for=state:*&DATE=7"
reqUrl = url + "&key="+ cKey
getData = req.get(reqUrl).json()
df_state_pop = pd.DataFrame(getData,columns=getData[0])
df_state_pop = df_state_pop.drop(df_state_pop.index[0])
df_state_pop['POP'] =  list(map(int,df_state_pop['POP']))
df_state_pop = df_state_pop[df_state_pop.STNAME != 'District of Columbia']
df_state_pop = df_state_pop[df_state_pop.STNAME != 'Puerto Rico Commonwealth']
df_state_pop = df_state_pop.reset_index(drop = True)
msgState = msgPpl.groupby("missing_state").count()["name"]
df_state_pop['Missing_Population'] = list(msgState)
df_state_pop['Missing_Ratio'] = round(df_state_pop['Missing_Population']/df_state_pop['POP'] * 1000000,2)
# df_state_pop.loc[df_state_pop['Missing_Ratio'] > 20]
df_state_pop

            STNAME       POP DATE state  Missing_Population  Missing_Ratio
0          Alabama   4849377    7    01                  38           7.84
1           Alaska    736732    7    02                  13          17.65
2          Arizona   6731484    7    04                 152          22.58
3         Arkansas   2966369    7    05                  40          13.48
4       California  38802500    7    06                 620          15.98
5         Colorado   5355866    7    08                  87          16.24
6      Connecticut   3596677    7    09                  25           6.95
7         Delaware    935614    7    10                  10          10.69
8          Florida  19893297    7    12                 360          18.10
9          Georgia  10097343    7    13                  98           9.71
10          Hawaii   1419561    7    15                  12           8.45
11           Idaho   1634464    7    16                  21          12.85
12        Illinois  12880580    7    17                 122           9.47
13         Indiana   6596855    7    18                  60           9.10
14            Iowa   3107126    7    19                   9           2.90
15          Kansas   2904021    7    20                  26           8.95
16        Kentucky   4413457    7    21                  40           9.06
17       Louisiana   4649676    7    22                  32           6.88
18           Maine   1330089    7    23                   7           5.26
19        Maryland   5976407    7    24                 110          18.41
20   Massachusetts   6745408    7    25                 108          16.01
21        Michigan   9909877    7    26                  90           9.08
22       Minnesota   5457173    7    27                  39           7.15
23     Mississippi   2994079    7    28                  30          10.02
24        Missouri   6063589    7    29                  70          11.54
25         Montana   1023579    7    30                   7           6.84
26        Nebraska   1881503    7    31                  34          18.07
27          Nevada   2839099    7    32                  61          21.49
28   New Hampshire   1326813    7    33                  13           9.80
29      New Jersey   8938175    7    34                  57           6.38
30      New Mexico   2085572    7    35                  41          19.66
31        New York  19746227    7    36                 210          10.63
32  North Carolina   9943964    7    37                  65           6.54
33    North Dakota    739482    7    38                   6           8.11
34            Ohio  11594163    7    39                 140          12.08
35        Oklahoma   3878051    7    40                  74          19.08
36          Oregon   3970239    7    41                  59          14.86
37    Pennsylvania  12787209    7    42                 130          10.17
38    Rhode Island   1055173    7    44                   3           2.84
39  South Carolina   4832482    7    45                  57          11.80
40    South Dakota    853175    7    46                   2           2.34
41       Tennessee   6549352    7    47                  81          12.37
42           Texas  26956958    7    48                 368          13.65
43            Utah   2942902    7    49                  20           6.80
44         Vermont    626562    7    50                   8          12.77
45        Virginia   8326289    7    51                 366          43.96
46      Washington   7061530    7    53                  95          13.45
47   West Virginia   1850326    7    54                   3           1.62
48       Wisconsin   5757564    7    55                  50           8.68
49         Wyoming    584153    7    56                   7          11.98

In [138]:
dfbottom3State = df_state_pop.sort_values(["POP"], ascending = True).head(3)
dfbottom3State

     STNAME     POP DATE state  Missing_Population  Missing_Ratio
49  Wyoming  584153    7    56                   7          11.98
44  Vermont  626562    7    50                   8          12.77
1    Alaska  736732    7    02                  13          17.65

In [139]:
dfTop3State = df_state_pop.sort_values(["POP"], ascending=False).head(3)
dfTop3State

        STNAME       POP DATE state  Missing_Population  Missing_Ratio
4   California  38802500    7    06                 620          15.98
42       Texas  26956958    7    48                 368          13.65
8      Florida  19893297    7    12                 360          18.10

In [147]:
# Create an income list by state
# https://api.census.gov/data/2015/acs1?get=NAME,B19013_001E&for=state:*%20&key=5e99f22848e97d5bcc53f03a358b973493473cd9
url = "https://api.census.gov/data/2015/acs1?get=NAME,B19013_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,B02001_009E,B02001_010E&for=state:*"
incUrl = url + "&key="+ cKey
getIncData = req.get(incUrl).json()
getIncData = pd.DataFrame(getIncData, columns=getIncData[0])
getIncData = getIncData.drop(getIncData.index[0])
# getIncData["Total Ethnic"] =  int (getIncData["B02001_002E"]) + int (getIncData["B02001_003E"]) +int (getIncData["B02001_004E"]) + int (getIncData["B02001_005E"]) + int (getIncData["B02001_006E"]) + int (getIncData["B02001_007E"]) + int (getIncData["B02001_008E"]) + int (getIncData["B02001_009E"]) + int (getIncData["B02001_010E"])
getIncData = getIncData.rename(columns={"B19013_001E": "Household Income", 
                                      "B02001_002E": "Whites", 
                                      "B02001_003E": "African Americans",
                                      "B02001_004E": "American Indians",
                                      "B02001_005E": "Asians",
                                      "B02001_006E": "Pacific Islanders",
                                      "B02001_007E": "Others",
                                      "B02001_008E": "Two or More Races",
                                      "B02001_009E": "Two or More Inc Others",
                                      "B02001_010E": "Two or More Excl Others",
                                      "NAME": "STNAME" })
getIncData

,STNAME,Household Income,Whites,African Americans,American Indians,Asians,Pacific Islanders,Others,Two or More Races,Two or More Inc Others,Two or More Excl Others,state
1,Alabama,44765,3329913,1303298,20503,59393,4448,54105,87319,6354,80965,01
2,Alaska,73355,481314,26176,101133,47295,6762,12467,63285,3171,60114,02
3,Arizona,51492,5285994,300685,308469,217556,11284,481631,222446,45251,177195,04
4,Arkansas,41995,2308047,469555,20797,42404,7639,65542,64220,6149,58071,05
5,California,64500,23824254,2277229,282777,5548936,157554,5300297,1753771,375682,1378089,06
6,Colorado,63909,4607390,224809,49138,162880,9136,209890,193331,30981,162350,08
7,Connecticut,71346,2747943,380571,8893,156249,519,180107,116604,28025,88579,09
8,Delaware,61255,654904,203863,3121,36114,334,19157,28441,3500,24941,10
9,District of Columbia,75628,269143,318831,1661,25944,475,34797,21377,3583,17794,11
10,Florida,49426,15357374,3280778,47032,544068,11898,528266,501856,87649,414207,12
11,Georgia,51244,6077438,3197929,28491,388457,4337,284084,234124,36148,197976,13
12,Hawaii,73486,372252,29644,3899,531268,134232,10135,350173,7486,342687,15
13,Idaho,48275,1514404,8828,23516,21145,1931,37682,47424,4921,42503,16
14,Illinois,59588,9238679,1844624,28792,674236,4514,773685,295465,54938,240527,17
15,Indiana,50532,5559694,605660,15704,138664,2602,140617,156739,17634,139105,18
16,Iowa,54736,2826672,106610,11554,68505,3282,47404,59872,5026,54846,19
17,Kansas,53906,2465799,172109,27041,84221,2197,67275,92999,8380,84619,20
18,Kentucky,45215,3865712,355718,8914,59626,2765,38122,94235,6226,88009,21
19,Louisiana,45727,2914693,1502375,22645,81039,1146,51153,97673,9547,88126,22
20,Maine,51494,1258074,14795,8966,13291,652,2957,30593,1005,29588,23
21,Maryland,75847,3395048,1770161,15403,385167,2911,250417,187294,19864,167430,24
22,Massachusetts,70628,5373238,499357,10663,430739,1410,280631,198384,30748,167636,25
23,Michigan,51084,7801483,1378111,53668,293157,3757,120463,271937,26374,245563,26
24,Minnesota,63488,4614799,320267,55212,258839,1570,83169,155738,11514,144224,27
25,Mississippi,40593,1758586,1128475,11723,30540,834,26315,35860,3785,32075,28
26,Missouri,50238,5011327,709969,25808,114889,6199,65614,149866,11522,138344,29
27,Montana,49509,918701,4725,65106,9071,1034,7142,27170,1003,26167,30
28,Nebraska,54996,1671988,90535,17360,39906,1221,31466,43714,4210,39504,31
29,Nevada,52431,1952341,246720,33607,231566,18326,264719,143566,25019,118547,32
30,New Hampshire,70303,1245262,21292,1561,34014,254,5663,22562,1171,21391,33
31,New Jersey,72222,6060267,1198613,16870,849240,3556,585855,243612,53981,189631,34
32,New Mexico,45382,1530670,47873,193512,29282,1355,211620,70797,24651,46146,35
33,New York,60850,12621132,3081333,69933,1672186,6446,1763351,581410,142861,438549,36
34,North Carolina,47830,6934715,2172492,120513,268322,4990,300313,241457,26792,214665,37
35,North Dakota,60557,667900,15681,37745,10104,445,6119,18934,373,18561,38
36,Ohio,51075,9519055,1426291,21901,233468,4995,98382,309331,24736,284595,39
37,Oklahoma,48568,2838386,286314,286598,78528,3541,108268,309703,16036,293667,40
38,Oregon,54148,3433909,76980,50126,164291,14239,106607,182825,15955,166870,41
39,Pennsylvania,55702,10386678,1408512,25085,420116,4253,248488,309371,41016,268355,42
40,Rhode Island,58073,848845,65504,4563,35540,211,65257,36378,7465,28913,44
41,South Carolina,47238,3292094,1344114,13761,70342,3361,68788,103686,11651,92035,45
42,South Dakota,53017,725937,13172,71102,11911,737,10213,25397,1323,24074,46
43,Tennessee,47275,5129336,1110412,19294,107075,2909,90293,140980,12602,128378,47
44,Texas,55653,20587917,3298173,132948,1248823,20071,1489855,691327,151197,540130,48
45,Utah,62912,2611340,34524,35407,68945,23886,135580,86237,12108,74129,49
46,Vermont,56990,593056,7996,2698,8627,387,2129,11149,229,10920,50
47,Virginia,66262,5718051,1612831,22773,524476,5506,203193,296163,32653,263510,51
48,Washington,64129,5513655,262552,92403,568108,46453,289942,397238,36890,360348,53
49,West Virginia,42019,1722847,71194,2140,14137,479,3870,29461,1372,28089,54
50,Wisconsin,55638,4965524,362290,51752,156192,1643,102235,131701,16740,114961,55
51,Wyoming,60214,536320,4727,12968,4885,260,10612,16335,1724,14611,56
52,Puerto Rico,18626,2355164,341710,10984,7264,0,592114,166946,17453,149493,72

In [148]:
getIncData = getIncData[getIncData.STNAME != 'District of Columbia']
getIncData = getIncData[getIncData.STNAME != 'Puerto Rico Commonwealth']
getIncData = getIncData.reset_index(drop = True)
getIncData

,STNAME,Household Income,Whites,African Americans,American Indians,Asians,Pacific Islanders,Others,Two or More Races,Two or More Inc Others,Two or More Excl Others,state
0,Alabama,44765,3329913,1303298,20503,59393,4448,54105,87319,6354,80965,01
1,Alaska,73355,481314,26176,101133,47295,6762,12467,63285,3171,60114,02
2,Arizona,51492,5285994,300685,308469,217556,11284,481631,222446,45251,177195,04
3,Arkansas,41995,2308047,469555,20797,42404,7639,65542,64220,6149,58071,05
4,California,64500,23824254,2277229,282777,5548936,157554,5300297,1753771,375682,1378089,06
5,Colorado,63909,4607390,224809,49138,162880,9136,209890,193331,30981,162350,08
6,Connecticut,71346,2747943,380571,8893,156249,519,180107,116604,28025,88579,09
7,Delaware,61255,654904,203863,3121,36114,334,19157,28441,3500,24941,10
8,Florida,49426,15357374,3280778,47032,544068,11898,528266,501856,87649,414207,12
9,Georgia,51244,6077438,3197929,28491,388457,4337,284084,234124,36148,197976,13
10,Hawaii,73486,372252,29644,3899,531268,134232,10135,350173,7486,342687,15
11,Idaho,48275,1514404,8828,23516,21145,1931,37682,47424,4921,42503,16
12,Illinois,59588,9238679,1844624,28792,674236,4514,773685,295465,54938,240527,17
13,Indiana,50532,5559694,605660,15704,138664,2602,140617,156739,17634,139105,18
14,Iowa,54736,2826672,106610,11554,68505,3282,47404,59872,5026,54846,19
15,Kansas,53906,2465799,172109,27041,84221,2197,67275,92999,8380,84619,20
16,Kentucky,45215,3865712,355718,8914,59626,2765,38122,94235,6226,88009,21
17,Louisiana,45727,2914693,1502375,22645,81039,1146,51153,97673,9547,88126,22
18,Maine,51494,1258074,14795,8966,13291,652,2957,30593,1005,29588,23
19,Maryland,75847,3395048,1770161,15403,385167,2911,250417,187294,19864,167430,24
20,Massachusetts,70628,5373238,499357,10663,430739,1410,280631,198384,30748,167636,25
21,Michigan,51084,7801483,1378111,53668,293157,3757,120463,271937,26374,245563,26
22,Minnesota,63488,4614799,320267,55212,258839,1570,83169,155738,11514,144224,27
23,Mississippi,40593,1758586,1128475,11723,30540,834,26315,35860,3785,32075,28
24,Missouri,50238,5011327,709969,25808,114889,6199,65614,149866,11522,138344,29
25,Montana,49509,918701,4725,65106,9071,1034,7142,27170,1003,26167,30
26,Nebraska,54996,1671988,90535,17360,39906,1221,31466,43714,4210,39504,31
27,Nevada,52431,1952341,246720,33607,231566,18326,264719,143566,25019,118547,32
28,New Hampshire,70303,1245262,21292,1561,34014,254,5663,22562,1171,21391,33
29,New Jersey,72222,6060267,1198613,16870,849240,3556,585855,243612,53981,189631,34
30,New Mexico,45382,1530670,47873,193512,29282,1355,211620,70797,24651,46146,35
31,New York,60850,12621132,3081333,69933,1672186,6446,1763351,581410,142861,438549,36
32,North Carolina,47830,6934715,2172492,120513,268322,4990,300313,241457,26792,214665,37
33,North Dakota,60557,667900,15681,37745,10104,445,6119,18934,373,18561,38
34,Ohio,51075,9519055,1426291,21901,233468,4995,98382,309331,24736,284595,39
35,Oklahoma,48568,2838386,286314,286598,78528,3541,108268,309703,16036,293667,40
36,Oregon,54148,3433909,76980,50126,164291,14239,106607,182825,15955,166870,41
37,Pennsylvania,55702,10386678,1408512,25085,420116,4253,248488,309371,41016,268355,42
38,Rhode Island,58073,848845,65504,4563,35540,211,65257,36378,7465,28913,44
39,South Carolina,47238,3292094,1344114,13761,70342,3361,68788,103686,11651,92035,45
40,South Dakota,53017,725937,13172,71102,11911,737,10213,25397,1323,24074,46
41,Tennessee,47275,5129336,1110412,19294,107075,2909,90293,140980,12602,128378,47
42,Texas,55653,20587917,3298173,132948,1248823,20071,1489855,691327,151197,540130,48
43,Utah,62912,2611340,34524,35407,68945,23886,135580,86237,12108,74129,49
44,Vermont,56990,593056,7996,2698,8627,387,2129,11149,229,10920,50
45,Virginia,66262,5718051,1612831,22773,524476,5506,203193,296163,32653,263510,51
46,Washington,64129,5513655,262552,92403,568108,46453,289942,397238,36890,360348,53
47,West Virginia,42019,1722847,71194,2140,14137,479,3870,29461,1372,28089,54
48,Wisconsin,55638,4965524,362290,51752,156192,1643,102235,131701,16740,114961,55
49,Wyoming,60214,536320,4727,12968,4885,260,10612,16335,1724,14611,56
50,Puerto Rico,18626,2355164,341710,10984,7264,0,592114,166946,17453,149493,72

In [151]:
allDataDf = df_state_pop.merge(getIncData)

In [153]:
#Create graphs

0            Alabama
1             Alaska
2            Arizona
3           Arkansas
4         California
5           Colorado
6        Connecticut
7           Delaware
8            Florida
9            Georgia
10            Hawaii
11             Idaho
12          Illinois
13           Indiana
14              Iowa
15            Kansas
16          Kentucky
17         Louisiana
18             Maine
19          Maryland
20     Massachusetts
21          Michigan
22         Minnesota
23       Mississippi
24          Missouri
25           Montana
26          Nebraska
27            Nevada
28     New Hampshire
29        New Jersey
30        New Mexico
31          New York
32    North Carolina
33      North Dakota
34              Ohio
35          Oklahoma
36            Oregon
37      Pennsylvania
38      Rhode Island
39    South Carolina
40      South Dakota
41         Tennessee
42             Texas
43              Utah
44           Vermont
45          Virginia
46        Washington
47     West Virginia
48         Wisconsin
49           Wyoming
Name: STNAME, dtype: object